.navbar-container {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}
