.experience-item {
    background: rgb(240,198,216);
    background: linear-gradient(45deg, rgba(240,198,216,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 25px;
    padding: 10px 20px;
    width: 60%;
    margin: 20px auto;
}